In [1]:
import pandas as pd

df = pd.read_csv("../data/raw/Unemployment in India.csv")
df.head()

,Region,Date,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),Area
0,Andhra Pradesh,31-05-2019,Monthly,3.65,11999139.0,43.24,Rural
1,Andhra Pradesh,30-06-2019,Monthly,3.05,11755881.0,42.05,Rural
2,Andhra Pradesh,31-07-2019,Monthly,3.75,12086707.0,43.50,Rural
3,Andhra Pradesh,31-08-2019,Monthly,3.32,12285693.0,43.97,Rural
4,Andhra Pradesh,30-09-2019,Monthly,5.17,12256762.0,44.68,Rural

In [2]:
df.columns = [
    col.strip()
       .lower()
       .replace(" ", "_")
       .replace("(", "")
       .replace(")", "")
       .replace("%", "percent")
    for col in df.columns
]

df.columns

Index(['region', 'date', 'frequency', 'estimated_unemployment_rate_percent',
       'estimated_employed', 'estimated_labour_participation_rate_percent',
       'area'],
      dtype='object')

In [3]:
df["date"] = pd.to_datetime(df["date"])
df.dtypes

C:\Users\karre\AppData\Local\Temp\ipykernel_14724\3181313183.py:1: UserWarning: Parsing dates in  %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df["date"] = pd.to_datetime(df["date"])

region                                                 object
date                                           datetime64[ns]
frequency                                              object
estimated_unemployment_rate_percent                   float64
estimated_employed                                    float64
estimated_labour_participation_rate_percent           float64
area                                                   object
dtype: object

In [4]:
df.isnull().sum()

region                                         28
date                                           28
frequency                                      28
estimated_unemployment_rate_percent            28
estimated_employed                             28
estimated_labour_participation_rate_percent    28
area                                           28
dtype: int64

In [5]:
df = df.dropna()
df.shape

(740, 7)

In [7]:
df.to_csv("../data/processed/unemployment_cleaned.csv", index=False)